[submodule "esp-who"]
	path = esp-who
	url = https://github.com/rommo911/esp-who.git
[submodule "arduino-esp32"]
	path = arduino-esp32
	url = https://github.com/rommo911/arduino-esp32.git
[submodule "WebConfig"]
	path = WebConfig
	url = https://github.com/rommo911/WebConfig.git
[submodule "ArduinoJson"]
	path = ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "esp_littlefs"]
	path = esp_littlefs
	url = https://github.com/rommo911/esp_littlefs.git
[submodule "lvgl"]
	path = lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "lvgl_esp32_drivers"]
	path = lvgl_esp32_drivers
	url = https://github.com/rommo911/lvgl_esp32_drivers.git
