[submodule "Arduino_lib"]
	path = Arduino_lib
	url = https://github.com/rommo911/Arduino_lib.git
[submodule "Arduino"]
	path = Arduino
	url = https://github.com/rommo911/Arduino.git
[submodule "esp32-camera"]
	path = esp32-camera
	url = https://github.com/espressif/esp32-camera.git
