menu "my NTP"

config NTP_DEFAULT_SERVER
    string "Server url"
    default "1.europe.pool.ntp.org"
    help
        Define maximum number of partitions that can be mounted.
        
config NTP_MAX_SERVER_COUNT
    int "max server count"
    default 5
    range 1 10
    help
        Define maximum number of partitions that can be mounted.
endmenu
