menu "additional LittleFS Configuration"

config LittleFS_DEFAULT_PARTITION
        string "default partition name (in the partition table)"
        default "data"
        help
            Define tha name given to the littleFS partition in the csv file

config LittleFS_DEFAULT_PATH
        string "default partition mounting path"
        default "/data"
        help
            Define thadefault partition mounting path : ex /data , so when using fopen("/data/filename.txt")

config LittleFS_FORMAT_IF_FAILED
        int "Format if failed to mount (bool)"
        default 1
        help
            automatically format the partition if failed to mount
config SD_CARD_FREQ
        int "sd card spi bus frequency (khz)"
        default 20000
        range 500 20000
        help 
            default frequency 

endmenu
